/* General reset.  */
/* mbtest */

body {
	margin:0;	
	font:13px/18px Arial, Helvetica, sans-serif;
	color:#28303f;
	background:#fff;
}
a{
	text-decoration:none;
	color:#000000;
}
a:hover{text-decoration:underline;}
img{border-style:none;}
input, textarea, select{
	font:100% arial,sans-serif;
	vertical-align:middle;
	color:#404040;
}

form, fieldset{
	margin:0;
	padding:0;
	border-style:none;
}
/* General settings */
#wrapper{
	width:967px;
	margin:0 auto;
	position:relative;
	padding:131px 9px 0 8px;
	background:url(/publicrecords/images/bg-wrapper-holder.gif) repeat-y;
}

/* header */
#header{
	background:#28303f;
	padding:10px 0 35px;
	position:absolute;
	height:94px;
	width:967px;
	top:0;
	left:8px;
}
#header ul.subnav
{
	clear:both;
	list-style: none;
	padding-left:250px;
	padding-top:15px;
	width:800px;
}

#header ul.subnav li
{
	float:left;
	width:150px;
}

#header:after{
	display:block;
	clear:both;
	content:"";
}
.navbar{
	margin:0 12px 0 0;
	padding:0;
	list-style:none;
	float:right;
	overflow:hidden;
	font-size:13px;
}
.navbar li{
	float:left;
	padding: 0 7px 0 9px;
	margin:0 0 0 -1px;
	background:url(/publicrecords/images/bg-separator-navbar.gif) no-repeat 0 50%;
}
.navbar li a
{
	display:block;
	color:#ffffff;
}
.logo{
	width:324px;
	height:67px;
/*	text-indent:-9999px; 
	overflow:hidden;
	background:url(/publicrecords/images/http://www.publicrecords.com/images/bg-logo.gif) no-repeat;
*/
	background:url(/publicrecords/images/bg-sprites.png) no-repeat 0 100%;
	background-position: -874px -17px; width: 324px; height: 67px;
	float:left;
	margin:27px 0 0 49px;*/
}
.logo a{
	height:100%;
	display:block;
}
.slogan{
	position:absolute;
	right:-32px;
	top:63px;
	width:328px;
	height:63px;
/*
	background:url(/publicrecords/images/bg-slogan.png) no-repeat;
*/
	background:url(/publicrecords/images/bg-sprites.png) no-repeat;
	background-position: -1701px -17px; width: 328px; height: 63px;
	padding:11px 0 0 11px;
}
.slogan strong{font-size:17px;}
/* main */
#main{
	width:100%;
	overflow:hidden;
}
/* box with shadow */
.photo-list{
	z-index:30;
	width:984px;
	margin:0 -8px 0 -8px;
	position:relative;
}
.photo-list:after{
	display:block;
	clear:both;
	content:"";
}
.png-box {
	float: left;
	position: relative;
}
.photo-list .png-box{
	margin-bottom:-8px;
	overflow:hidden;
	height:156px;
}
.png-box .holder{height:auto;}
.png-box .holder { display: table; }
.png-box .c { display: table-row; }
.png-box .l,
.png-box .r {
	background: url(assets/bg-left.png) repeat-y;
	width: 8px;
	display: table-cell;
}
.png-box .r { background: url(assets/bg-right.png) repeat-y; }
.png-box .content {
	background-color: #fff;
	display: table-cell;
}
.png-box .lt,
.png-box .rt,
.png-box .lb,
.png-box .rb {
/*
	background: url(assets/bg-top-left.png) no-repeat;
*/
	background:url(/publicrecords/images/bg-sprites.png) no-repeat top left;
	background-position: 0 -92px; width: 8px; height: 8px;
	height: 8px;
	width: 8px;
	font-size: 0;
	display: table-cell;
}
.png-box .rt 
{
/*
	background: url(assets/bg-top-right.png) no-repeat;
*/
	background:url(/publicrecords/images/bg-sprites.png) no-repeat top left;
	background-position: -9px -92px; width: 8px; height: 8px;
}
.png-box .lb  
{
/*
	background: url(assets/bg-bottom-left.png) no-repeat;
*/
	background:url(/publicrecords/images/bg-sprites.png) no-repeat top left;
	background-position: 0 0; width: 8px; height: 8px;
}
.png-box .rb  
{
/*
	background: url(assets/bg-bottom-right.png) no-repeat;
*/
	background:url(/publicrecords/images/bg-sprites.png) no-repeat top left;
	background-position: -9px 0; width: 8px; height: 8px;
}
.png-box .t,
.png-box .b {
	background: url(assets/bg-top.png) repeat-x;
	
	height: 8px;
	display: table-cell;
	font-size: 0;
}
.png-box .b { background: url(assets/bg-bottom.png) repeat-x; }
.png-box ul{
	margin:0;
	padding:0;
	list-style:none;
	overflow:hidden;
}
.png-box ul li{float:left;}
.png-box img{vertical-align:middle;}
/* search */
.search
{
	float:left;
	clear:none;
	display:block;
	width:730px;
	font-size:12px;
	padding:0 0 0 10px;
}

.search #left-column
{
	float:left;
}

.location-summary
{
	float:right;
	color:000000;
	width:220px;
	padding-top:0;
	margin-top:0;
	margin-bottom:10px;
}

.location-summary .scroll
{
	height:300px;
	overflow-y:scroll;
}

.location-summary table
{
	font-size:0.9em;
}
.location-summary table th
{
	vertical-align:top;
	padding-right:2em;
/*	font-size:1.2em; */
}
.location-summary h3,
.location-summary h4
{
/*	margin-top:-1.1em; */
	color:#404040;
	text-align:center;
	margin-bottom:0;
 	font-size :1em;
	padding:0 0 .8em 0;
}

.location-summary h4
{
	margin-top:0;
	padding-bottom:.2em;
	font-size:0.9em;
}

#blurb
{
	width:600px;
	display:inline-block;
	padding: 0 0 0 10px;
}
.search hr 
{
	display:block;
	height:1px;	
	margin: 10px 0 15px 0px;
	clear:both;
}

.input-block {
	height:1%;
	margin:0 0 10px;
	overflow:hidden;
}
.search .input-text {
	display:inline;
	float:left;
	line-height:27px;
	margin-right:10px;
}
.input-text input,
.input-text select {
	border:0;
	background:none;
	display:block;
	padding:5px 8px 6px;
	width:120px;
	outline:none;
	line-height:16px;
	vertical-align:middle;
}
.input-text label {
	color:#000000;
	display:block;
}
.input-text label em
{
	font-size:.78em;
	font-style:normal;
	color:#404040;
}

.input-text .short select
{
	width:100px;	
}

.input-text .text,.input-text select
{
	
	background:url(/publicrecords/images/bg-input-text.gif) no-repeat;
	/*
	background:url(/publicrecords/images/bg-sprites.png) no-repeat top left;
	background-position: -39px -17px; height: 27px;
	*/
	background-color:#f0f0f0;	
}
.input-text select
{
	height:27px;
	line-height:27px;
	padding-right:1px;
	width:150px;	
}

.search .short .text
{
	background:url(/publicrecords/images/bg-input-text-short.png) no-repeat scroll 0 100%;
}
.search .short1 .text
{
/*
	background:url(/publicrecords/images/bg-input-text-short1.gif) no-repeat scroll 0 100%;
*/
	background:url(/publicrecords/images/bg-sprites.png) no-repeat top left;
	background-position: 0 -17px; width: 38px; height: 27px;
}
.short input {width:59px;}
.short1 input {width:20px;}
.search h1
{
	font-size:27px;
	margin:0 0 4px;
	color:#404040;
	line-height:37px;
}
.search h2{
	font-size:20px;
	margin:0 0 2px;
	color:#404040;
	line-height:20px;
}
.search h3{
	font-size:12px;
	margin:0 0 2px;
	color:#404040;
	line-height:14px;
}
.field-error,
.search .field-error
{
	background-color:red;
	color:#ffffff;
}
.submit,
.search .submit,
.search-again, .search-choose {
/*
	background:url(/publicrecords/images/bg-sprites.png) no-repeat top left;
	background-position: -1612px -17px; 
	padding: .2em 0 .2em 0;
	text-align:center;
*/
	background:url(/publicrecords/images//images/button-blue-search-4.jpg) no-repeat;
	width: 160px; 
	height: 27px;
	border:0;
	float:left;
	margin:27px 0 0;
	overflow:hidden;
	font-weight:bold;
	font-size:0px;
	color:#ffffff;
	cursor:pointer;
	text-align:center;
}
.submit {
	background:url(/publicrecords/images//images/button-blue-search-2.jpg) no-repeat;
	width: 210px; 
	height: 27px;
	border:0;
	float:left;
	margin:27px 0 0;
	overflow:hidden;
	font-weight:bold;
	font-size:9px;
	color:#28303f;
	cursor:pointer;
	text-align:center;
}
.search-again
{
        background:url(/publicrecords/images//images/bg-search-button-4.png) no-repeat;
        width:97px;
        height: 25px;
        text-align:left;
		font-size:1em;
		font-weight:normal;
        color:#ffffff;
        padding-right:30px;
}
.search-choose
{
 /*       background:url(/publicrecords/images//images/bg-search-button-wide-2.png) no-repeat; 
         width:125px;
        height: 32px;
        color:#ffffff;
        line-height:32px;              
        font-size:14px;
        letter-spacing:2px;
 */
        background:url(/publicrecords/images//images/bg-search-button-4.png) no-repeat;
        width:97px;
        height: 25px;
        color:#ffffff;
        font-size:1em;
		padding:.3em;
		text-align:left;
}
.new-row
{
	clear:left;
}

/* start 05.03.2010 */
.search .row {
	height:1%;
	padding:3px 0 5px;
	overflow:hidden;
}
.search .row label {
	float:left;
	color:#404040;
}
.search .row .checkbox {
	width:14px;
	height:14px;
	padding:0;
	margin:0 8px 0 0;
	float:left;
}
/* end 05.03.2010 */

/* section */
.section{
	width:100%;
	padding:0 0 15px;
	clear:both;
/*
	background:url(/publicrecords/images//images/bg-section.png) repeat-n 0 100%;
*/

}
.section h2
{
	color:#404040;
}
.section:after{
	display:block;
	clear:both;
	content:"";
}
/* nav */
#nav{
	margin:0;
	padding:40px 0 2px;
	list-style:none;
	width:217px;
	background:url(/publicrecords/images/bg-nav.gif) no-repeat 0 100%;
/*
	background:url(/publicrecords/images/bg-sprites.png) no-repeat top left;
	background-position: -1401px -17px;
*/
	float:left;
}

#nav li{
	width:100%;
	vertical-align:top;
/*
	background:url(/publicrecords/images/bg-leftnav.png) no-repeat 0 100%;
*/
	color:#ffffff;
	background:url(/publicrecords/images/bg-sprites.png) no-repeat top left;
	background-position: -656px -17px; width: 172px; height: 23px;	
	width:172px;
}
#nav li a{
/*
	background:url(/publicrecords/images/bg-nav-link.gif) no-repeat;
*/
	background:url(/publicrecords/images/bg-sprites.png) no-repeat top left;
	background-position: -1199px -17px; width: 172px; height:23px;
	height:23px;
	color:#ffffff;
	padding:3px 0 2px 30px;
	display:block;
}

#nav li#selected a:hover
{
	background:url(/publicrecords/images/bg-leftnav-selected-active-3.png) no-repeat;
	color:#f99b21;
	font-weight:bold;
}

#nav li#selected a
{
/*
	background:url(/publicrecords/images/bg-sprites.png) no-repeat top left;
	background-position: -438px -17px; width: 217px; height: 23px;

*/
	background:url(/publicrecords/images/bg-leftnav-selected-active-3.png) no-repeat;
 	color:#ffffff;
 	width:190px;
	font-weight:bold;
	/*border: 1px solid #ff0000;*/
}

#nav li a:hover{
	text-decoration:none;
/*
	background:url(/publicrecords/images/bg-leftnav-active.png) no-repeat;
*/
	background:url(/publicrecords/images/bg-sprites.png) no-repeat top left;
	background-position: -220px -17px; width: 171px; height: 23px;
 	width:171px;
	color:#f99b21;
}
/* content */
#content{
	overflow:hidden;
	padding:22px 22px 28px;
	height:1%;
	background:url(/publicrecords/images/bg-container-top.png) no-repeat;
}
.container{
	float:left;
	width:495px;
	padding:7px 7px 0 0;
}
.container h2{
	margin:0 0 16px;
	font-size:22px;
}
.container p{margin:0 0 20px;}
#content .photo-box{
	margin:0;
	width:420px;
}
/* footer */
#footer-wrapper{
	width:967px;
	margin:0 auto;
	position:relative;
	padding:0px 9px 0 8px;
	background:url(/publicrecords/images/bg-wrapper-holder.gif) repeat-y;
}

#footer{
	background:url(/publicrecords/images/bg-footer-middle.gif) repeat-y;
	font-size:11px;
	height:50px;
	margin:0 -9px 0 -8px;
	color: #878787;
	text-align:center;
}
.footer-holder{
	background:url(/publicrecords/images/bg-footer-top.gif) no-repeat;
/*
	background:url(/publicrecords/images/bg-sprites.jpg) no-repeat top left;
	background-position: -1990px 0px; width: 984px; height: 2px;
*/
}
.footer-frame{
	background:url(/publicrecords/images/bg-footer-bottom.gif) no-repeat 0 100%;
	height:1%;
	padding:10px 0 18px;
}
#footer ul{
	margin:0;
	padding:0;
	list-style:none;
	text-align:center;
	color:#878787;
}
#footer ul li{
	display:inline;
	background:url(/publicrecords/images/bg-separator-footer.gif) no-repeat 0 50%;
/*
	background:url(/publicrecords/images/bg-sprites.png) no-repeat 0 100%;
	background-position: -1697px -17px; width: 1px; height: 12px;
*/
	padding:0 2px 0 5px;
}
#footer ul li:first-child{background:none;}
#footer ul li a{color:#878787;}
#footer ul li a.rollover:hover{color:#282f3f;}
#state-list,
#county-list,
.article-list,
.article-list td a:link
{
	float:left;
	color:#000000;
}

#state-list
{
	width:920px;
}

#county-list
{
	width:700px;
}
#state-list h2, 
#county-list h2
{
	text-align:center;
	font-weight:bold;
	font-size:1.0em;
	color:#000000;
}
#state-list ul,
#county-list ul
{
	list-style:none;
	margin-left:-35px;
}

#state-list li,
#county-list li
{
	float:left;
	font-size: 0.7em;
	width: 80px;
}

#county-city-list ul
{
	list-style: none;
	clear:left;
}

#county-city-list ul li
{
	clear:right;
}
#county-city-list ul ul li
{
	float:left;
}

.county-info
{
	clear:left;
	margin-left:227px;
}
.county-info table
{
	width:100%;
	margin-bottom:10px;
}
.county-info th
{
	background-color:White;
}
.county-info-row td
{
	background-color:#dddddd;
}

.county-info-row-alt td
{
	background-color:#f0f0f0;
}

.article
{
	padding:0 10px 10px 10px;
}
.article a, .article-list td a
{
	color:#000000;
	font-weight:bold;
}

#see-all 
{
	text-align:right;
} 
#see-all a
{
	color:#000000;
	font-weight:normal;
	line-height:40px;
}
h1 .search-results {
	font-size:13px;
	margin:0 0 2px;
	color:#404040;
	line-height:18px;
}
.search-results h2{
	font-size:14px;
	margin:0 0 2px;
	color:#404040;
	line-height:14px;
}
.search-results h3{
	font-size:11px;
	margin:10px 0 2px;
	color:#404040;
	line-height:11px;
}

.search-results table
{
	border-collapse:collapse;
}

.search-results a
{
	color:#000000;
	font-weight:bold;
}
.search-results ul
{
	margin-top:0;
	margin-left:-2em;
}
.search-results tbody tr td
{
	padding:0.5em;
	text-align:left;
	vertical-align:middle;
	border: 1px solid #878787;
}

.search-results th
{
	padding:0.5em;
	vertical-align:bottom;
	background-color:white;
	text-align:left;
	color:#0000ff;
	border: 1px solid #000000;
	font-weight:bold;
}

.search-results .submit
{
	margin-top:0px;
	margin-left:-5px;
}

.search-results .available
{
	background:url(/publicrecords/images/check_on_20.png) no-repeat;

}
	
.search-panel
{
	z-index:1;
}

.directory-leaf-list,
.directory-node-list
{
	width:967px;
	margin-left:0;
	margin-top:-1em;
	margin-bottom:1em;
	float:left;
}
.directory-leaf-list ul,
.directory-node-list ul
{
	list-style-type: none;
}




.directory-node-list li,
.directory-leaf-list li,
.directory-node-list li a,
.directory-leaf-list li a
{
	width:230px;
	font-size:0.85em;
	float:left;
	/* color:#878787; */
	color: #000000;
}

#searching
{
	z-index:100;
	position:absolute;
	visibility:hidden;
	width:400px;
	height:150px;
	padding-left:80px;
	padding-top:80px;
	font-size:2em;
	text-align:center;
	color:White;
	background:url(/publicrecords/images/logo.png) no-repeat;
/*
	background:url(/publicrecords/images/bg-sprites.png) no-repeat top left;
	background-position: -874px -17px; width: 324px; height: 67px;
*/
	background-color:#28303f;
}

.text-on-darkbg
{
	color:#000000;
}
.person-list
{
	color:#000000;
	list-style:none;
}

.person-list a
{
	text-decoration:underline;
}

div.cookies-disabled
{
	padding:1em;
	background-color: #fcfbe3;
	font-size: 1.0em;
	border: solid 1 #000000;
}

div.cookies-disabled h1
{
	font-size:1.8em;
	color:#ff0000;
}
div.cookies-disabled h2
{
	font-size:1.3em;
	color:#000000;
}
div.cookies-disabled p
{
	font-size:1.2em;
}


.sprite-bg-bottom-left { background-position: 0 0; width: 8px; height: 8px; } 
.sprite-bg-bottom-right { background-position: -9px 0; width: 8px; height: 8px; } 
.sprite-bg-bottom { background-position: -18px 0; width: 1px; height: 8px; } 
.sprite-bg-footer-bottom { background-position: -20px 0; width: 984px; height: 16px; } 
.sprite-bg-footer-middle { background-position: -1005px 0; width: 984px; height: 1px; } 
.sprite-bg-footer-top { background-position: -1990px 0; width: 984px; height: 2px; } 
.sprite-bg-input-text-short1 { background-position: 0 -17px; width: 38px; height: 27px; } 
.sprite-bg-input-text { background-position: -39px -17px; width: 171px; height: 27px; } 
.sprite-bg-left { background-position: -211px -17px; width: 8px; height: 1px; } 
.sprite-bg-leftnav-active { background-position: -220px -17px; width: 217px; height: 23px; } 
.sprite-bg-leftnav-selected { background-position: -438px -17px; width: 217px; height: 23px; } 
.sprite-bg-leftnav { background-position: -656px -17px; width: 217px; height: 23px; } 
.sprite-bg-logo { background-position: -874px -17px; width: 324px; height: 67px; } 
.sprite-bg-nav-link { background-position: -1199px -17px; width: 201px; height: 74px; } 
.sprite-bg-nav { background-position: -1401px -17px; width: 201px; height: 2px; } 
.sprite-bg-right { background-position: -1603px -17px; width: 8px; height: 1px; } 
.sprite-bg-search-button { background-position: -1612px -17px; width: 84px; height: 25px; } 
.sprite-bg-separator-footer { background-position: -1697px -17px; width: 1px; height: 12px; } 
.sprite-bg-separator-navbar { background-position: -1699px -17px; width: 1px; height: 13px; } 
.sprite-bg-slogan { background-position: -1701px -17px; width: 328px; height: 63px; } 
.sprite-bg-top-left { background-position: 0 -92px; width: 8px; height: 8px; } 
.sprite-bg-top-right { background-position: -9px -92px; width: 8px; height: 8px; } 
.sprite-bg-top { background-position: -18px -92px; width: 1px; height: 8px; } 
.sprite-bg-wrapper-holder { background-position: -20px -92px; width: 984px; height: 3px; } 

.img-sprite 
{
	background:url(/publicrecords/images/img-sprites.jpg) no-repeat top left;
}

.sprite-img-content-01b { background-position: 0 0; width: 322px; height: 140px; } 
.sprite-img-content-02b { background-position: -323px 0; width: 322px; height: 140px; } 
.sprite-img-content-03b { background-position: -646px 0; width: 321px; height: 140px; } 
.sprite-img-content-04 { background-position: -968px 0; width: 398px; height: 199px; } 